<section class="nj-banner" aria-label="Official government website">
  <header class="nj-banner__header">
    <div class="grid-container">
      <div class="nj-banner__inner">
        <div class="grid-col-auto">
          <img class="nj-banner__header-seal" src="{{ '/static/njwds/img/nj_state_seal.png' | url }}" alt="NJ flag">
        </div>
        <div class="grid-col-fill">Official Site of the State of New Jersey</div>
        <div class="grid-col-auto">
          <div class="text-white">
            <ul class="">
              <li class="">
                Governor Phil Murphy &bull; Lt. Governor Sheila Oliver
              </li>
              <li class="">
                Return to <a href="https://nj.gov">NJ.gov</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>
