<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<a class="usa-skipnav" href="#main-content">Skip to main content</a>
		{% include "components/njwds/banner/banner.njk" %}

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}
		{% include "components/njwds/identifier/identifier.njk" %}

	</body>

</html>
